[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocs-pymdownx-material-extras = "*"
mkdocs-mermaid2-plugin = "*"
mkdocs-material = "==9.2.0b0"

[dev-packages]

[requires]
python_version = "3.9"
