@font-face {
  font-family: 'Apercu Pro';
  src: url('apercu/Apercu-Pro-Light.otf');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('apercu/Apercu-Pro-Light-Italic.otf');
  font-weight: 100;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu Pro';
  src: yrl('apercu/Apercu-Pro-Regular.otf');
  font-weight: 250;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('apercu/Apercu-Pro-Regular-Italic.otf');
  font-weight: 250;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('apercu/Apercu-Pro-Medium.otf');
  font-weight: 450;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('apercu/Apercu-Pro-Medium-Italic.otf');
  font-weight: 450;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('apercu/Apercu-Pro-Bold.otf');
  font-weight: 750;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('apercu/Apercu-Pro-Bold-Italic.otf');
  font-weight: 750;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu Pro Mono';
  src: url('apercu/Apercu-Pro-Mono.otf');
  font-display: swap;
}
