/*
CSS file to color the headings.
By KrLite(https://github.com/KrLite).
 */

/* Colored headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: teal;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  color: teal;
}

/* Color for headings in light scheme */
[data-md-color-scheme="default"] h1,
[data-md-color-scheme="default"] h2,
[data-md-color-scheme="default"] h3,
[data-md-color-scheme="default"] h4,
[data-md-color-scheme="default"] h5,
[data-md-color-scheme="default"] h6 {
  color: teal;
}

[data-md-color-scheme="default"] h1 code,
[data-md-color-scheme="default"] h2 code,
[data-md-color-scheme="default"] h3 code,
[data-md-color-scheme="default"] h4 code,
[data-md-color-scheme="default"] h5 code,
[data-md-color-scheme="default"] h6 code {
  color: teal;
}

/* Color for headings in dark scheme */
[data-md-color-scheme="slate"] h1,
[data-md-color-scheme="slate"] h2,
[data-md-color-scheme="slate"] h3,
[data-md-color-scheme="slate"] h4,
[data-md-color-scheme="slate"] h5,
[data-md-color-scheme="slate"] h6 {
  color: turquoise;
}

[data-md-color-scheme="slate"] h1 code,
[data-md-color-scheme="slate"] h2 code,
[data-md-color-scheme="slate"] h3 code,
[data-md-color-scheme="slate"] h4 code,
[data-md-color-scheme="slate"] h5 code,
[data-md-color-scheme="slate"] h6 code {
  color: turquoise;
}
