/*
CSS file to control global colors
 */

:root {
  --custom-primary-color: teal;
  --custom-secondary-color: turquoise;
}

:root {
  /* Tips: Use #XXXXXX to define a hex color */
  --md-primary-fg-color: var(--custom-primary-color);
  --md-primary-fg-color--light: var(--custom-primary-color);
  --md-primary-fg-color--dark: var(--custom-secondary-color);
  --md-primary-bg-color: white;
  --md-primary-bg-color--light: rgba(white, 0.7);

  --md-accent-fg-color: var(--custom-secondary-color);
  --md-accent-fg-color--transparent: rgba(var(--md-accent-fg-color), 0.1);
  --md-accent-bg-color: white;
  --md-accent-bg-color--light: rgba(white, 0.7);
}

[data-md-color-scheme="default"] {
  --md-accent-fg-color: var(--md-primary-fg-color--dark);
  --md-typeset-a-color: var(--md-primary-fg-color--light);
}

[data-md-color-scheme="slate"] {
  --md-accent-fg-color: var(--md-primary-fg-color--light);
  --md-typeset-a-color: var(--md-primary-fg-color--dark);
}

/* Image color transformer */
/* Credit: https://stackoverflow.com/a/76821538 */
.colored {
  display: inline-block;
  background-color: var(--md-primary-fg-color);
  -webkit-mask-size: 95%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

[data-md-color-scheme="default"] .colored {
  background-color: var(--md-primary-fg-color--light);
}

[data-md-color-scheme="slate"] .colored {
  background-color: var(--md-primary-fg-color--dark);
}

.colored > img {
  opacity: 0;
  width: auto;
  display: block;
}
