/*
CSS file to control global colors
 */

:root {
  --custom-primary-color: rgb(0, 128, 128);
  --custom-secondary-color: rgb(64, 244, 208);

  --custom-primary-color--transparent: rgba(0, 128, 128, 0.1);
  --custom-secondary-color--transparent: rgba(64, 244, 208, 0.1);
}

:root {
  --md-primary-fg-color--auto: var(--md-primary-fg-color);
  --md-primary-fg-color--auto-reversed: var(--md-primary-fg-color);
}

[data-md-color-scheme="default"] {
  --md-primary-fg-color--auto: var(--md-primary-fg-color--light);
  --md-primary-fg-color--auto-reversed: var(--md-primary-fg-color--dark);
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color--auto: var(--md-primary-fg-color--dark);
  --md-primary-fg-color--auto-reversed: var(--md-primary-fg-color--light);
}

:root {
  /* Tips: Use #XXXXXX to define a hex color */
  --md-primary-fg-color: var(--custom-primary-color);
  --md-primary-fg-color--light: var(--custom-primary-color);
  --md-primary-fg-color--dark: var(--custom-secondary-color);

  --md-accent-fg-color: var(--custom-primary-accent-color);
  --md-accent-fg-color--transparent: var(--custom-primary-color--transparent);
}

[data-md-color-scheme="default"] {
  --md-accent-fg-color: var(--md-primary-fg-color--dark);
  --md-typeset-a-color: var(--md-primary-fg-color--light);
}

[data-md-color-scheme="slate"] {
  --md-accent-fg-color: var(--md-primary-fg-color--light);
  --md-typeset-a-color: var(--md-primary-fg-color--dark);
}

/* Image color transformer */
/* Credit: https://stackoverflow.com/a/76821538 */
.colored {
  display: inline-block;
  background-color: var(--md-primary-fg-color);
  -webkit-mask-size: 95%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.colored > img {
  opacity: 0;
  width: auto;
  display: block;
}
