/*
CSS file from OI Wiki(https://github.com/OI-wiki/OI-wiki).
By OI WikiI(https://github.com/OI-wiki).
 */

/* Code font size in <details> */
details .linenos,
details code {
  font-size: inherit !important;
}

/* Code block / tab in details */
details > summary + .highlight:last-child,
details > summary + .tabbed-set:last-child {
  margin: 0 -0.6rem !important;
}

details > summary + .highlight:last-child > .highlighttable {
  margin: 0 !important;
}

/* Table full width */
.md-typeset__table {
  display: block !important;
}

.md-typeset table:not(.highlighttable) {
  display: table !important;
}

.md-typeset table:not([class]) th {
  min-width: 0rem;
}

.headerlink {
  transform: translateY(-2.5px);
}

.md-nav__link[for="__toc"] .md-icon {
  margin-left: auto !important;
}

mjx-container > img {
  width: 0;
  height: 0;
}
