:root {
  --md-hue: 180;

  --md-primary-fg-color--t: hsla(var(--md-hue), 100%, 45%, 0.1);
}

*::selection {
  background: var(--md-primary-fg-color--t);
}

.md-typeset
  a:not(:has(> code), .footnote-ref, .footnote-backref, .md-content__button.md-icon) {
  color: var(--md-typeset-color);
  padding: 0 0.1em;
  background-image: linear-gradient(
    var(--md-primary-fg-color),
    var(--md-primary-fg-color)
  );
  background-position: 0.1em 100%;
  background-size: calc(100% - 0.2em) 0.2em;
  background-repeat: no-repeat;
  transition: all 0.2s ease;
}

.md-typeset
  a:not(:has(> code), .footnote-ref, .footnote-backref, .md-content__button.md-icon):hover {
  color: var(--md-default-bg-color);
  background-position: 0% 100%;
  background-size: 100% 100%;
}

.md-typeset a:is(.footnote-ref, .footnote-backref) {
  color: var(--md-primary-fg-color);
}

.md-typeset a:is(.footnote-ref, .footnote-backref):hover {
  color: var(--md-typeset-color);
}

.md-typeset mark {
  color: var(--md-primary-fg-color);
  background-color: var(--md-primary-fg-color--t);
}

.md-typeset :is(code, kbd, pre) {
  font-variant-ligatures: normal;
}

.md-top:hover {
  color: var(--md-primary-bg-color);
  background-color: var(--md-primary-fg-color);
}

[type="checkbox"]:checked + .task-list-indicator::before {
	background-color: var(--md-primary-fg-color) !important;
}

/* Image color transformer */
/* Credit: https://stackoverflow.com/a/76821538 */
.colored {
  display: inline-block;
  background-color: var(--md-primary-fg-color);
  -webkit-mask-size: 95%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.colored > img {
  opacity: 0;
  width: auto;
  display: block;
}

@media screen {
  [data-md-color-switching] *,
  [data-md-color-switching] :after,
  [data-md-color-switching] :before {
    transition-duration: 0.5s !important;
    transition-delay: 0.1s !important;
  }
}

html,
body {
  -webkit-transition: background-color 0.5s ease 0.1s !important;
  transition: background-color 0.5s ease 0.1s !important;
}

.md-nav__container {
  -webkit-transition: background-color 0.5s ease 0.1s, box-shadow 0.5s ease 0.1s !important;
  transition: background-color 0.5s ease 0.1s, box-shadow 0.5s ease 0.1s !important;
}

.md-nav__link {
  transition: background 0.5s ease 0.1s, box-shadow 0.5s ease 0.1s !important;
}
