:root {
  --custom-primary-color: rgb(36, 171, 128);
  --custom-secondary-color: rgb(48, 241, 154);

  --custom-primary-color--t: rgba(36, 171, 128, 0.2);
  --custom-secondary-color--t: rgba(48, 241, 154, 0.2);
}

[data-md-color-scheme="default"] *::selection {
  background: var(--custom-primary-color--t);
}

[data-md-color-scheme="slate"] *::selection {
  background: var(--custom-secondary-color--t);
}

:root {
  --md-primary-fg-color--auto: var(--md-primary-fg-color);
}

[data-md-color-scheme="default"] {
  --md-primary-fg-color--auto: var(--md-primary-fg-color--light);
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color--auto: var(--md-primary-fg-color--dark);
}

:root {
  --md-primary-fg-color: var(--custom-primary-color);
  --md-primary-fg-color--light: var(--custom-primary-color);
  --md-primary-fg-color--dark: var(--custom-secondary-color);

  --md-accent-fg-color: var(--custom-primary-accent-color);
}

[data-md-color-scheme="default"] {
  --md-accent-fg-color: var(--md-primary-fg-color--dark);
  --md-typeset-a-color: var(--md-primary-fg-color--light);
}

[data-md-color-scheme="slate"] {
  --md-accent-fg-color: var(--md-primary-fg-color--light);
  --md-typeset-a-color: var(--md-primary-fg-color--dark);
}

/* Image color transformer */
/* Credit: https://stackoverflow.com/a/76821538 */
.colored {
  display: inline-block;
  background-color: var(--md-primary-fg-color--auto);
  -webkit-mask-size: 95%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.colored > img {
  opacity: 0;
  width: auto;
  display: block;
}

/* Color scheme switching animation */

@media screen {
  [data-md-color-switching] *,
  [data-md-color-switching] :after,
  [data-md-color-switching] :before {
    transition-duration: 0.5s !important;
    transition-delay: 0.1s !important;
  }
}

html,
body {
  -webkit-transition: background-color 0.5s ease 0.1s !important;
  transition: background-color 0.5s ease 0.1s !important;
}

.md-nav__container {
  -webkit-transition: background-color 0.5s ease 0.1s, box-shadow 0.5s ease 0.1s !important;
  transition: background-color 0.5s ease 0.1s, box-shadow 0.5s ease 0.1s !important;
}

.md-nav__link {
  transition: background 0.5s ease 0.1s, box-shadow 0.5s ease 0.1s !important;
}
