:root {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

code {
  border-radius: 0.35em !important;
}

pre > code {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

td.linenos {
  border-radius: 0.35em !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.md-typeset kbd {
  border-radius: 0.35em !important;
  font-size: 0.8em !important;
  padding: 0.1em 0.5em !important;
}

:root {
  --md-text-font: "Apercu Pro", "Oppo Sans";
  --md-code-font: "JetBrains Mono";
}

h1 {
  font-weight: 900 !important;
}

h2,
h3 {
  font-weight: bold !important;
}

h4,
h5,
h6 {
  font-weight: normal !important;
}
