:root {
  --md-text-font: "Apercu Pro", "Oppo Sans", "Noto Sans JP";
  --md-code-font: "JetBrains Mono";
}

h1 {
  font-weight: 900 !important;
}

h2,
h3 {
  font-weight: bold !important;
}

h4,
h5,
h6 {
  font-weight: normal !important;
}

.md-typeset code {
  border-radius: 0.35em !important;
}

.md-typeset td.linenos {
  border-radius: 0.35em !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.md-typeset td.linenos + td.code pre > code {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.md-typeset kbd {
  border-radius: 0.35em !important;
  font-size: 0.8em !important;
  padding: 0.1em 0.5em !important;
}

.md-tooltip {
  border-radius: 0.35em;
  border: 0.05rem solid var(--md-default-fg-color--lightest);
}

.md-annotation__index {
  margin-left: -0.1em;
  margin-right: 0.2em;

  &::before, &::after {
    content: "";
    height: 1.85ch;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    position: absolute;
    top: 0.05em;
    width: 0.9em;
    z-index: -1;
  }

  &::after {
    background-color: var(--md-primary-bg-color);
  }
}

.md-tooltip--active + .md-annotation__index::after {
  transform: rotate(45deg) scale(1.5);
}

.md-tooltip {
  margin-left: -0.4em;
}
