:root {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

code {
  border-radius: 0.35em !important;
}

.md-typeset kbd {
  border-radius: 0.35em !important;
  font-size: 0.8em !important;
  padding: 0.1em 0.5em !important;
}

:root {
  --md-text-font: "Apercu Pro", "Oppo Sans";
}

h1 {
  font-weight: 900 !important;
}

h2,
h3 {
  font-weight: bold !important;
}

h4,
h5,
h6 {
  font-weight: normal !important;
}
