/* Custom font family */
@font-face {
  font-family: "Oppo Sans";
  src: url("../assets/fonts/OPPOSans-L.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Oppo Sans";
  src: url("../assets/fonts/OPPOSans-R.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Oppo Sans";
  src: url("../assets/fonts/OPPOSans-M.ttf");
  font-weight: 450;
}

@font-face {
  font-family: "Oppo Sans";
  src: url("../assets/fonts/OPPOSans-B.ttf");
  font-weight: 650;
}

@font-face {
  font-family: "Oppo Sans";
  src: url("../assets/fonts/OPPOSans-H.ttf");
  font-weight: 850;
}

:root {
  --md-text-font: "Oppo Sans";
  /*
  --md-code-font: "Oppo Sans"
   */
}

/* Bold headings */
h1 {
  font-weight: 900 !important;
}

h2,
h3 {
  font-weight: bold !important;
}

h4,
h5,
h6 {
  font-weight: normal !important;
}
