/* Custom font family */
@font-face {
  font-family: "Oppo Sans";
  src: url("https://github.com/KrLite/BrokenThoughts/blob/a7ad9881980e48b963a1c0fb069df4750cf0789c/font/OPPOSans-L.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Oppo Sans";
  src: url("https://github.com/KrLite/BrokenThoughts/blob/a7ad9881980e48b963a1c0fb069df4750cf0789c/font/OPPOSans-R.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Oppo Sans";
  src: url("https://github.com/KrLite/BrokenThoughts/blob/a7ad9881980e48b963a1c0fb069df4750cf0789c/font/OPPOSans-M.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Oppo Sans";
  src: url("https://github.com/KrLite/BrokenThoughts/blob/a7ad9881980e48b963a1c0fb069df4750cf0789c/font/OPPOSans-B.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Oppo Sans";
  src: url("https://github.com/KrLite/BrokenThoughts/blob/a7ad9881980e48b963a1c0fb069df4750cf0789c/font/OPPOSans-H.ttf");
  font-weight: 900;
}

:root {
  --md-text-font: "Oppo Sans";
  /*
  --md-code-font: "Oppo Sans"
   */
}

/* Bold headings */
h1 {
  font-weight: 900 !important;
}

h2,
h3 {
  font-weight: bold !important;
}

h4,
h5,
h6 {
  font-weight: normal !important;
}
