@font-face {
  font-display: swap;
  font-family: "CircularSpTitle";
  font-weight: 900;
  src: url(https://encore.scdn.co/fonts/CircularSpTitle-Black-3f9afb402080d53345ca1850226ca724.woff2)
      format("woff2"),
    url(https://encore.scdn.co/fonts/CircularSpTitle-Black-b063ad0a42cbaf519c7ccba8b3e1caeb.woff)
      format("woff");
  unicode-range: u + 0000, u + 0020-007e, u + 00a0-00bf, u + 00c6-00c7, u + 00d0,
    u + 00d7, u + 00de-00e4, u + 00e6-00ef, u + 00f1-00ff, u + 0101,
    u + 0103-0105, u + 0107, u + 0109, u + 010b, u + 010d, u + 010f-0111,
    u + 0113, u + 0115, u + 0117-0119, u + 011b, u + 011d, u + 011f, u + 0121,
    u + 0126-0127, u + 0129, u + 012b, u + 012d-012f, u + 0131-0133, u + 0135,
    u + 0138, u + 013e-142, u + 0144, u + 0148, u + 014a-014b, u + 014d,
    u + 014f, u + 0151-0153, u + 0155, u + 0159, u + 015b, u + 015d-015f,
    u + 0161-0163, u + 0166-0167, u + 0169, u + 016b, u + 016d, u + 0171-0173,
    u + 0175, u + 0177, u + 017a, u + 017c, u + 017e, u + 018f, u + 0192,
    u + 01a1, u + 01b0, u + 01b5-01b6, u + 01c5-01c6, u + 01f1-01f3, u + 01fd,
    u + 01ff, u + 0237, u + 0259, u + 02c6-02c7, u + 02c9, u + 02d8-02d9,
    u + 02db-02dd, u + 0394, u + 03a9, u + 03bc, u + 03c0, u + 1e81, u + 1e83,
    u + 1e85, u + 1e8b, u + 1ea0-1ea1, u + 1ead, u + 1eb7-1eb9, u + 1ebd,
    u + 1ec7, u + 1eca-1ecd, u + 1ed9, u + 1edb, u + 1edd, u + 1ee3-1ee5,
    u + 1ee9, u + 1eeb, u + 1ef1, u + 1ef3-1ef5, u + 1ef9, u + 1fd6,
    u + 2007-2008, u + 200b, u + 2010-2011, u + 2013-2014, u + 2018-201a,
    u + 201c-201e, u + 2020-2022, u + 2026, u + 2030, u + 2032-2033,
    u + 2039-203a, u + 2042, u + 2044, u + 2051, u + 2070, u + 2074-2079,
    u + 2080-2089, u + 20ab-20ac, u + 2113, u + 2117, u + 2122, u + 2126,
    u + 2160-2169, u + 216c-216f, u + 2190-2193, u + 2196-2199, u + 21a9,
    u + 21b0-21b5, u + 21c6, u + 2202, u + 2206, u + 220f, u + 2211-2212,
    u + 2215, u + 2219, u + 221e, u + 222b, u + 2248, u + 2260, u + 2264-2265,
    u + 22c5, u + 24c5, u + 25a0-25a1, u + 25af, u + 25b2-25b3, u + 25ca-25cb,
    u + 25cf, u + 262e, u + 2713, u + 2715, u + 2780-2788, u + e000, u + e002,
    u + fb00-fb04, u + feff, u + ff0c, u + ff0e, u + ff1a-ff1b, u + ffff;
}

@font-face {
  font-display: swap;
  font-family: "CircularSpTitle";
  font-weight: 700;
  src: url(https://encore.scdn.co/fonts/CircularSpTitle-Bold-2fbf72b606d7f0b0f771ea4956a8b4d6.woff2)
      format("woff2"),
    url(https://encore.scdn.co/fonts/CircularSpTitle-Bold-7cd3208b73fd0850bca5d8f7821439cd.woff)
      format("woff");
  unicode-range: u + 0000, u + 0020-007e, u + 00a0-00bf, u + 00c6-00c7, u + 00d0,
    u + 00d7, u + 00de-00e4, u + 00e6-00ef, u + 00f1-00ff, u + 0101,
    u + 0103-0105, u + 0107, u + 0109, u + 010b, u + 010d, u + 010f-0111,
    u + 0113, u + 0115, u + 0117-0119, u + 011b, u + 011d, u + 011f, u + 0121,
    u + 0126-0127, u + 0129, u + 012b, u + 012d-012f, u + 0131-0133, u + 0135,
    u + 0138, u + 013e-142, u + 0144, u + 0148, u + 014a-014b, u + 014d,
    u + 014f, u + 0151-0153, u + 0155, u + 0159, u + 015b, u + 015d-015f,
    u + 0161-0163, u + 0166-0167, u + 0169, u + 016b, u + 016d, u + 0171-0173,
    u + 0175, u + 0177, u + 017a, u + 017c, u + 017e, u + 018f, u + 0192,
    u + 01a1, u + 01b0, u + 01b5-01b6, u + 01c5-01c6, u + 01f1-01f3, u + 01fd,
    u + 01ff, u + 0237, u + 0259, u + 02c6-02c7, u + 02c9, u + 02d8-02d9,
    u + 02db-02dd, u + 0394, u + 03a9, u + 03bc, u + 03c0, u + 1e81, u + 1e83,
    u + 1e85, u + 1e8b, u + 1ea0-1ea1, u + 1ead, u + 1eb7-1eb9, u + 1ebd,
    u + 1ec7, u + 1eca-1ecd, u + 1ed9, u + 1edb, u + 1edd, u + 1ee3-1ee5,
    u + 1ee9, u + 1eeb, u + 1ef1, u + 1ef3-1ef5, u + 1ef9, u + 1fd6,
    u + 2007-2008, u + 200b, u + 2010-2011, u + 2013-2014, u + 2018-201a,
    u + 201c-201e, u + 2020-2022, u + 2026, u + 2030, u + 2032-2033,
    u + 2039-203a, u + 2042, u + 2044, u + 2051, u + 2070, u + 2074-2079,
    u + 2080-2089, u + 20ab-20ac, u + 2113, u + 2117, u + 2122, u + 2126,
    u + 2160-2169, u + 216c-216f, u + 2190-2193, u + 2196-2199, u + 21a9,
    u + 21b0-21b5, u + 21c6, u + 2202, u + 2206, u + 220f, u + 2211-2212,
    u + 2215, u + 2219, u + 221e, u + 222b, u + 2248, u + 2260, u + 2264-2265,
    u + 22c5, u + 24c5, u + 25a0-25a1, u + 25af, u + 25b2-25b3, u + 25ca-25cb,
    u + 25cf, u + 262e, u + 2713, u + 2715, u + 2780-2788, u + e000, u + e002,
    u + fb00-fb04, u + feff, u + ff0c, u + ff0e, u + ff1a-ff1b, u + ffff;
}

/* Padding */
.music-player__padding-around {
  padding: 2em 5em;
}

.music-player__padding-sides {
  padding: 0 30px;
}

/* Container */
.music-player__container {
  display: flex;
  align-items: center;
}

.music-player__inner-container {
  flex: 1;
}

.music-player__inner-container h1 {
  font-family: "CircularSpTitle";
  text-align: left !important;
  color: var(--music-fg-color) !important;
  font-size: 40px !important;
  font-weight: 900 !important;
  margin-bottom: 0.3em;
}

.music-player__time code {
  color: var(--music-shadow-color) !important;
  background-color: var(--music-shadow-color) !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  padding: 0.1em 0.4em;
  transform: translateY(-0.1em);
  margin: 0;
}

.music-player__artist h1 {
  margin-left: 0.3em;
  color: var(--music-shadow-color) !important;
}

/* Disk */
.music-player__disk {
  position: relative;
  display: block;
  margin-right: 3em;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-image: var(--music-disk-image);
  background-size: cover;
  box-shadow: 0 0 0 10px var(--music-shadow-color);
}

/* Slider */
.music-player__slider {
  margin-left: 1em;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Seek bar */
.music-player__seek-bar {
  -webkit-appearance: none;
  width: 95%;
  height: 0.6em;
  border-radius: 0.6em;
  background: var(--music-shadow-color);
  overflow-x: hidden;
  cursor: pointer;
  transition: all 0.2s ease;
}

.music-player__seek-bar:hover {
  width: 100%;
  height: 2.6em;
}

.music-player__seek-bar:active {
  width: 100%;
  height: 2.6em;
  transform: scaleX(102%) scaleY(110%);
}

.music-player__seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 20px;
  box-shadow: -400px 0 0 400px var(--music-fg-color);
}

/* Controls */
.music-player__controls {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.music-player-btn__play {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease;
}

.music-player-btn__play:hover {
  scale: 1.25;
}

.music-player-btn__play:active {
  scale: 0.85;
}

.music-player-btn__play span {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
  width: 15%;
  height: 35%;
  border-radius: 2px;
  background: var(--music-fg-color);
  transition: all 0.5s ease;
  clip-path: polygon(
    0 0,
    0 100%,
    0 100%,
    0 100%,
    0 100%,
    0 100%,
    0 100%,
    0 100%,
    0 100%,
    0 100%,
    0 100%,
    100% 100%,
    100% 100%,
    100% 50%,
    100% 50%,
    100% 50%,
    100% 50%,
    100% 50%,
    100% 50%,
    100% 50%,
    100% 50%,
    100% 50%,
    100% 50%,
    100% 50%,
    100% 50%,
    100% 0,
    100% 0,
    100% 0,
    0 0,
    0 0,
    0 0,
    0 0,
    0 0,
    0 0,
    0 0,
    0 0,
    0 0
  );
}

.music-player-btn__play span:nth-child(2) {
  left: 50%;
  transform-origin: center;
}

:root {
  --music-player__path-play: polygon(
    7.184% 9.982%,
    7.184% 90.018%,
    7.184% 90.018%,
    7.322% 91.319%,
    7.716% 92.501%,
    8.331% 93.545%,
    9.133% 94.43%,
    10.088% 95.136%,
    11.163% 95.642%,
    12.322% 95.928%,
    13.533% 95.975%,
    14.76% 95.76%,
    15.972% 95.266%,
    90.257% 55.248%,
    90.257% 55.248%,
    91.385% 54.468%,
    92.263% 53.508%,
    92.889% 52.414%,
    93.266% 51.229%,
    93.391% 50%,
    93.266% 48.771%,
    92.889% 47.586%,
    92.263% 46.492%,
    91.385% 45.532%,
    90.257% 44.752%,
    15.972% 4.734%,
    15.972% 4.734%,
    14.76% 4.24%,
    13.533% 4.026%,
    12.322% 4.072%,
    11.163% 4.358%,
    10.088% 4.865%,
    9.133% 5.57%,
    8.331% 6.455%,
    7.716% 7.499%,
    7.322% 8.682%,
    7.184% 9.982%
  );
}

.music-player-btn__play.pause span:nth-child(1) {
  width: 50%;
  height: 50%;
  border-radius: 0;
  clip-path: var(--music-player__path-play);
}

.music-player-btn__play.pause span:nth-child(2) {
  transform: translate(-50%, -50%) scaleY(0);
}
