/* Padding */
.music-player__padding-around {
  padding: 5em;
}

.music-player__padding-sides {
  padding: 0 30px;
}

/* Container */
.music-player__container {
  display: flex;
  align-items: center;
  border: 1px solid red;
}

.music-player__inner-container {
  flex: 1;
  border: 1px solid blue;
}

.music-player__inner-container h1,
.music-player__inner-container p {
  text-align: left !important;
  color: inherit !important;
}

.music-player__inner-container h1 {
  color: var(--music-fg-color) !important;
  font-size: 40px !important;
  font-weight: 800 !important;
  margin-bottom: 0.3em;
}

.music-player__inner-container p {
  color: var(--music-shadow-color) !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  padding-right: 1em;
  margin: 0;
}

/* Disk */
.music-player__disk {
  position: relative;
  display: block;
  margin-right: 3em;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-image: var(--music-disk-image);
  background-size: cover;
  box-shadow: 0 0 0 10px var(--music-shadow-color);
}

.music-player__disk::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--md-default-bg-color);
}

/* Slider */
.music-player__slider {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Seek bar */
.music-player__seek-bar {
  -webkit-appearance: none;
  width: 95%;
  height: 0.6em;
  border-radius: 0.6em;
  background: var(--music-shadow-color);
  overflow-x: hidden;
  cursor: pointer;
  transition: all 0.2s ease;
}

.music-player__seek-bar:hover {
  width: 100%;
  height: 1.6em;
}

.music-player__seek-bar:active {
  width: 100%;
  height: 1.6em;
  scale: 1.02;
}

.music-player__seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 20px;
  box-shadow: -400px 0 0 400px var(--music-fg-color);
}

/* Controls */
.music-player__controls {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid orange;
}

.music-player-btn__play,
.music-player-btn__prev,
.music-player-btn__next {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease;
}

.music-player-btn__play:hover,
.music-player-btn__prev:hover,
.music-player-btn__next:hover {
  scale: 1.25;
}

.music-player-btn__play:active,
.music-player-btn__prev:active,
.music-player-btn__next:active {
  scale: 0.85;
}

.music-player-btn__play span {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
  width: 15%;
  height: 35%;
  border-radius: 2px;
  background: var(--music-fg-color);
  transition: all 0.5s ease;
  clip-path: polygon(
    0 0,
    0 100%,
    0 100%,
    0 100%,
    0 100%,
    0 100%,
    0 100%,
    0 100%,
    0 100%,
    0 100%,
    0 100%,
    100% 100%,
    100% 100%,
    100% 50%,
    100% 50%,
    100% 50%,
    100% 50%,
    100% 50%,
    100% 50%,
    100% 50%,
    100% 50%,
    100% 50%,
    100% 50%,
    100% 50%,
    100% 50%,
    100% 0,
    100% 0,
    100% 0,
    0 0,
    0 0,
    0 0,
    0 0,
    0 0,
    0 0,
    0 0,
    0 0,
    0 0
  );
}

.music-player-btn__play span:nth-child(2) {
  left: 50%;
  transform-origin: center;
}

.music-player-btn__play.pause span:nth-child(1) {
  width: 50%;
  height: 50%;
  border-radius: 0;
  clip-path: polygon(
    7.184% 9.982%,
    7.184% 90.018%,
    7.184% 90.018%,
    7.322% 91.319%,
    7.716% 92.501%,
    8.331% 93.545%,
    9.133% 94.43%,
    10.088% 95.136%,
    11.163% 95.642%,
    12.322% 95.928%,
    13.533% 95.975%,
    14.76% 95.76%,
    15.972% 95.266%,
    90.257% 55.248%,
    90.257% 55.248%,
    91.385% 54.468%,
    92.263% 53.508%,
    92.889% 52.414%,
    93.266% 51.229%,
    93.391% 50%,
    93.266% 48.771%,
    92.889% 47.586%,
    92.263% 46.492%,
    91.385% 45.532%,
    90.257% 44.752%,
    15.972% 4.734%,
    15.972% 4.734%,
    14.76% 4.24%,
    13.533% 4.026%,
    12.322% 4.072%,
    11.163% 4.358%,
    10.088% 4.865%,
    9.133% 5.57%,
    8.331% 6.455%,
    7.716% 7.499%,
    7.322% 8.682%,
    7.184% 9.982%
  );
}

.music-player-btn__play.pause span:nth-child(2) {
  transform: translate(-50%, -50%) scaleY(0);
}

.music-player-btn__prev span {
  position: absolute;
  width: 75%;
  height: 75%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  background: var(--music-fg-color);
  transition: all 0.5s ease;
  clip-path: polygon(
    45.818% 74.657%,
    45.818% 74.657%,
    46.495% 74.604%,
    47.143% 74.447%,
    47.752% 74.187%,
    48.311% 73.824%,
    48.812% 73.36%,
    49.244% 72.795%,
    49.598% 72.13%,
    49.862% 71.366%,
    50.028% 70.503%,
    50.086% 69.544%,
    50.086% 30.529%,
    50.086% 30.529%,
    50.028% 29.57%,
    49.862% 28.71%,
    49.598% 27.949%,
    49.244% 27.287%,
    48.812% 26.726%,
    48.311% 26.265%,
    47.752% 25.906%,
    47.143% 25.649%,
    46.495% 25.494%,
    45.818% 25.442%,
    45.818% 25.442%,
    45.46% 25.454%,
    45.111% 25.491%,
    44.768% 25.551%,
    44.43% 25.634%,
    44.094% 25.738%,
    43.759% 25.863%,
    43.422% 26.008%,
    43.083% 26.171%,
    42.739% 26.353%,
    42.387% 26.552%,
    9.767% 45.766%,
    9.767% 45.766%,
    9.207% 46.127%,
    8.712% 46.501%,
    8.278% 46.889%,
    7.907% 47.291%,
    7.596% 47.707%,
    7.344% 48.139%,
    7.15% 48.587%,
    7.013% 49.052%,
    6.932% 49.535%,
    6.905% 50.037%,
    6.905% 50.037%,
    6.932% 50.539%,
    7.013% 51.024%,
    7.15% 51.492%,
    7.344% 51.943%,
    7.596% 52.379%,
    7.907% 52.799%,
    8.278% 53.204%,
    8.712% 53.595%,
    9.207% 53.971%,
    9.767% 54.333%,
    42.387% 73.545%,
    42.387% 73.545%,
    42.739% 73.738%,
    43.083% 73.916%,
    43.422% 74.079%,
    43.758% 74.224%,
    44.093% 74.35%,
    44.429% 74.456%,
    44.767% 74.541%,
    45.11% 74.603%,
    45.46% 74.642%,
    45.818% 74.655%,
    88.827% 74.653%,
    88.469% 74.64%,
    88.119% 74.601%,
    87.776% 74.539%,
    87.438% 74.454%,
    87.102% 74.348%,
    86.767% 74.222%,
    86.431% 74.077%,
    86.092% 73.914%,
    85.748% 73.736%,
    85.396% 73.543%,
    85.396% 73.543%,
    52.802% 54.331%,
    52.242% 53.969%,
    51.744% 53.593%,
    51.308% 53.202%,
    50.933% 52.797%,
    50.619% 52.377%,
    50.363% 51.941%,
    50.166% 51.49%,
    50.027% 51.022%,
    49.944% 50.537%,
    49.916% 50.035%,
    49.916% 50.035%,
    49.943% 49.533%,
    50.024% 49.05%,
    50.162% 48.585%,
    50.357% 48.137%,
    50.61% 47.705%,
    50.923% 47.289%,
    51.298% 46.887%,
    51.735% 46.499%,
    52.236% 46.125%,
    52.802% 45.764%,
    52.802% 45.764%,
    85.396% 26.552%,
    85.748% 26.353%,
    86.092% 26.171%,
    86.432% 26.008%,
    86.768% 25.863%,
    87.103% 25.738%,
    87.439% 25.634%,
    87.777% 25.551%,
    88.12% 25.491%,
    88.47% 25.454%,
    88.827% 25.442%,
    88.827% 25.442%,
    89.504% 25.494%,
    90.152% 25.649%,
    90.761% 25.906%,
    91.32% 26.265%,
    91.821% 26.726%,
    92.253% 27.287%,
    92.607% 27.949%,
    92.871% 28.71%,
    93.037% 29.57%,
    93.095% 30.529%,
    93.095% 30.529%,
    93.095% 69.542%,
    93.037% 70.501%,
    92.871% 71.364%,
    92.607% 72.128%,
    92.253% 72.793%,
    91.821% 73.358%,
    91.32% 73.822%,
    90.761% 74.185%,
    90.152% 74.445%,
    89.504% 74.602%,
    88.827% 74.655%,
    88.827% 74.655%,
    93.095% 74.653%,
    93.095% 74.64%,
    93.095% 74.601%,
    93.095% 74.539%,
    93.095% 74.454%,
    93.095% 74.348%,
    93.095% 74.222%,
    93.095% 74.077%,
    93.095% 73.914%,
    93.095% 73.736%,
    93.095% 73.543%,
    93.095% 73.543%,
    93.095% 54.331%,
    93.095% 53.969%,
    93.095% 53.593%,
    93.095% 53.202%,
    93.095% 52.797%,
    93.095% 52.377%,
    93.095% 51.941%,
    93.095% 51.49%,
    93.095% 51.022%,
    93.095% 50.537%,
    93.095% 50.035%,
    93.095% 50.035%,
    93.095% 49.533%,
    93.095% 49.05%,
    93.095% 48.585%,
    93.095% 48.137%,
    93.095% 47.705%,
    93.095% 47.289%,
    93.095% 46.887%,
    93.095% 46.499%,
    93.095% 46.125%,
    93.095% 45.764%,
    93.095% 45.764%,
    93.095% 26.552%,
    93.095% 26.353%,
    93.095% 26.171%,
    93.095% 26.008%,
    93.095% 25.863%,
    93.095% 25.738%,
    93.095% 25.634%,
    93.095% 25.551%,
    93.095% 25.491%,
    93.095% 25.454%,
    93.095% 25.442%,
    93.095% 25.442%,
    93.095% 25.494%,
    93.095% 25.649%,
    93.095% 25.906%,
    93.095% 26.265%,
    93.095% 26.726%,
    93.095% 27.287%,
    93.095% 27.949%,
    93.095% 28.71%,
    93.095% 29.57%,
    93.095% 30.529%,
    93.095% 30.529%,
    93.095% 69.542%,
    93.095% 70.501%,
    93.095% 71.364%,
    93.095% 72.128%,
    93.095% 72.793%,
    93.095% 73.358%,
    93.095% 73.822%,
    93.095% 74.185%,
    93.095% 74.445%,
    93.095% 74.602%,
    93.095% 74.655%,
    93.095% 74.655%
  );
}

.switch-music {
  animation: switch-music 0.5s ease;
}

@keyframes switch-music {
  0% {
    clip-path: polygon(
      45.818% 74.657%,
      45.818% 74.657%,
      46.495% 74.604%,
      47.143% 74.447%,
      47.752% 74.187%,
      48.311% 73.824%,
      48.812% 73.36%,
      49.244% 72.795%,
      49.598% 72.13%,
      49.862% 71.366%,
      50.028% 70.503%,
      50.086% 69.544%,
      50.086% 30.529%,
      50.086% 30.529%,
      50.028% 29.57%,
      49.862% 28.71%,
      49.598% 27.949%,
      49.244% 27.287%,
      48.812% 26.726%,
      48.311% 26.265%,
      47.752% 25.906%,
      47.143% 25.649%,
      46.495% 25.494%,
      45.818% 25.442%,
      45.818% 25.442%,
      45.46% 25.454%,
      45.111% 25.491%,
      44.768% 25.551%,
      44.43% 25.634%,
      44.094% 25.738%,
      43.759% 25.863%,
      43.422% 26.008%,
      43.083% 26.171%,
      42.739% 26.353%,
      42.387% 26.552%,
      9.767% 45.766%,
      9.767% 45.766%,
      9.207% 46.127%,
      8.712% 46.501%,
      8.278% 46.889%,
      7.907% 47.291%,
      7.596% 47.707%,
      7.344% 48.139%,
      7.15% 48.587%,
      7.013% 49.052%,
      6.932% 49.535%,
      6.905% 50.037%,
      6.905% 50.037%,
      6.932% 50.539%,
      7.013% 51.024%,
      7.15% 51.492%,
      7.344% 51.943%,
      7.596% 52.379%,
      7.907% 52.799%,
      8.278% 53.204%,
      8.712% 53.595%,
      9.207% 53.971%,
      9.767% 54.333%,
      42.387% 73.545%,
      42.387% 73.545%,
      42.739% 73.738%,
      43.083% 73.916%,
      43.422% 74.079%,
      43.758% 74.224%,
      44.093% 74.35%,
      44.429% 74.456%,
      44.767% 74.541%,
      45.11% 74.603%,
      45.46% 74.642%,
      45.818% 74.655%,
      88.827% 74.653%,
      88.469% 74.64%,
      88.119% 74.601%,
      87.776% 74.539%,
      87.438% 74.454%,
      87.102% 74.348%,
      86.767% 74.222%,
      86.431% 74.077%,
      86.092% 73.914%,
      85.748% 73.736%,
      85.396% 73.543%,
      85.396% 73.543%,
      52.802% 54.331%,
      52.242% 53.969%,
      51.744% 53.593%,
      51.308% 53.202%,
      50.933% 52.797%,
      50.619% 52.377%,
      50.363% 51.941%,
      50.166% 51.49%,
      50.027% 51.022%,
      49.944% 50.537%,
      49.916% 50.035%,
      49.916% 50.035%,
      49.943% 49.533%,
      50.024% 49.05%,
      50.162% 48.585%,
      50.357% 48.137%,
      50.61% 47.705%,
      50.923% 47.289%,
      51.298% 46.887%,
      51.735% 46.499%,
      52.236% 46.125%,
      52.802% 45.764%,
      52.802% 45.764%,
      85.396% 26.552%,
      85.748% 26.353%,
      86.092% 26.171%,
      86.432% 26.008%,
      86.768% 25.863%,
      87.103% 25.738%,
      87.439% 25.634%,
      87.777% 25.551%,
      88.12% 25.491%,
      88.47% 25.454%,
      88.827% 25.442%,
      88.827% 25.442%,
      89.504% 25.494%,
      90.152% 25.649%,
      90.761% 25.906%,
      91.32% 26.265%,
      91.821% 26.726%,
      92.253% 27.287%,
      92.607% 27.949%,
      92.871% 28.71%,
      93.037% 29.57%,
      93.095% 30.529%,
      93.095% 30.529%,
      93.095% 69.542%,
      93.037% 70.501%,
      92.871% 71.364%,
      92.607% 72.128%,
      92.253% 72.793%,
      91.821% 73.358%,
      91.32% 73.822%,
      90.761% 74.185%,
      90.152% 74.445%,
      89.504% 74.602%,
      88.827% 74.655%,
      88.827% 74.655%,
      93.095% 74.653%,
      93.095% 74.64%,
      93.095% 74.601%,
      93.095% 74.539%,
      93.095% 74.454%,
      93.095% 74.348%,
      93.095% 74.222%,
      93.095% 74.077%,
      93.095% 73.914%,
      93.095% 73.736%,
      93.095% 73.543%,
      93.095% 73.543%,
      93.095% 54.331%,
      93.095% 53.969%,
      93.095% 53.593%,
      93.095% 53.202%,
      93.095% 52.797%,
      93.095% 52.377%,
      93.095% 51.941%,
      93.095% 51.49%,
      93.095% 51.022%,
      93.095% 50.537%,
      93.095% 50.035%,
      93.095% 50.035%,
      93.095% 49.533%,
      93.095% 49.05%,
      93.095% 48.585%,
      93.095% 48.137%,
      93.095% 47.705%,
      93.095% 47.289%,
      93.095% 46.887%,
      93.095% 46.499%,
      93.095% 46.125%,
      93.095% 45.764%,
      93.095% 45.764%,
      93.095% 26.552%,
      93.095% 26.353%,
      93.095% 26.171%,
      93.095% 26.008%,
      93.095% 25.863%,
      93.095% 25.738%,
      93.095% 25.634%,
      93.095% 25.551%,
      93.095% 25.491%,
      93.095% 25.454%,
      93.095% 25.442%,
      93.095% 25.442%,
      93.095% 25.494%,
      93.095% 25.649%,
      93.095% 25.906%,
      93.095% 26.265%,
      93.095% 26.726%,
      93.095% 27.287%,
      93.095% 27.949%,
      93.095% 28.71%,
      93.095% 29.57%,
      93.095% 30.529%,
      93.095% 30.529%,
      93.095% 69.542%,
      93.095% 70.501%,
      93.095% 71.364%,
      93.095% 72.128%,
      93.095% 72.793%,
      93.095% 73.358%,
      93.095% 73.822%,
      93.095% 74.185%,
      93.095% 74.445%,
      93.095% 74.602%,
      93.095% 74.655%,
      93.095% 74.655%
    );
  }

  100% {
    clip-path: polygon(
      7.013% 74.653%,
      7.013% 74.64%,
      7.013% 74.601%,
      7.013% 74.539%,
      7.013% 74.454%,
      7.013% 74.348%,
      7.013% 74.222%,
      7.013% 74.077%,
      7.013% 73.914%,
      7.013% 73.736%,
      7.013% 73.543%,
      7.013% 73.543%,
      7.013% 54.331%,
      7.013% 53.969%,
      7.013% 53.593%,
      7.013% 53.202%,
      7.013% 52.797%,
      7.013% 52.377%,
      7.013% 51.941%,
      7.013% 51.49%,
      7.013% 51.022%,
      7.013% 50.537%,
      7.013% 50.035%,
      7.013% 50.035%,
      7.013% 49.533%,
      7.013% 49.05%,
      7.013% 48.585%,
      7.013% 48.137%,
      7.013% 47.705%,
      7.013% 47.289%,
      7.013% 46.887%,
      7.013% 46.499%,
      7.013% 46.125%,
      7.013% 45.764%,
      7.013% 45.764%,
      7.013% 26.552%,
      7.013% 26.353%,
      7.013% 26.171%,
      7.013% 26.008%,
      7.013% 25.863%,
      7.013% 25.738%,
      7.013% 25.634%,
      7.013% 25.551%,
      7.013% 25.491%,
      7.013% 25.454%,
      7.013% 25.442%,
      7.013% 25.442%,
      7.013% 25.494%,
      7.013% 25.649%,
      7.013% 25.906%,
      7.013% 26.265%,
      7.013% 26.726%,
      7.013% 27.287%,
      7.013% 27.949%,
      7.013% 28.71%,
      7.013% 29.57%,
      7.013% 30.529%,
      7.013% 30.529%,
      7.013% 69.542%,
      7.013% 70.501%,
      7.013% 71.364%,
      7.013% 72.128%,
      7.013% 72.793%,
      7.013% 73.358%,
      7.013% 73.822%,
      7.013% 74.185%,
      7.013% 74.445%,
      7.013% 74.602%,
      7.013% 74.655%,
      7.013% 74.655%,
      45.818% 74.657%,
      45.818% 74.657%,
      46.495% 74.604%,
      47.143% 74.447%,
      47.752% 74.187%,
      48.311% 73.824%,
      48.812% 73.36%,
      49.244% 72.795%,
      49.598% 72.13%,
      49.862% 71.366%,
      50.028% 70.503%,
      50.086% 69.544%,
      50.086% 30.529%,
      50.086% 30.529%,
      50.028% 29.57%,
      49.862% 28.71%,
      49.598% 27.949%,
      49.244% 27.287%,
      48.812% 26.726%,
      48.311% 26.265%,
      47.752% 25.906%,
      47.143% 25.649%,
      46.495% 25.494%,
      45.818% 25.442%,
      45.818% 25.442%,
      45.46% 25.454%,
      45.111% 25.491%,
      44.768% 25.551%,
      44.43% 25.634%,
      44.094% 25.738%,
      43.759% 25.863%,
      43.422% 26.008%,
      43.083% 26.171%,
      42.739% 26.353%,
      42.387% 26.552%,
      9.767% 45.766%,
      9.767% 45.766%,
      9.207% 46.127%,
      8.712% 46.501%,
      8.278% 46.889%,
      7.907% 47.291%,
      7.596% 47.707%,
      7.344% 48.139%,
      7.15% 48.587%,
      7.013% 49.052%,
      6.932% 49.535%,
      6.905% 50.037%,
      6.905% 50.037%,
      6.932% 50.539%,
      7.013% 51.024%,
      7.15% 51.492%,
      7.344% 51.943%,
      7.596% 52.379%,
      7.907% 52.799%,
      8.278% 53.204%,
      8.712% 53.595%,
      9.207% 53.971%,
      9.767% 54.333%,
      42.387% 73.545%,
      42.387% 73.545%,
      42.739% 73.738%,
      43.083% 73.916%,
      43.422% 74.079%,
      43.758% 74.224%,
      44.093% 74.35%,
      44.429% 74.456%,
      44.767% 74.541%,
      45.11% 74.603%,
      45.46% 74.642%,
      45.818% 74.655%,
      88.827% 74.653%,
      88.469% 74.64%,
      88.119% 74.601%,
      87.776% 74.539%,
      87.438% 74.454%,
      87.102% 74.348%,
      86.767% 74.222%,
      86.431% 74.077%,
      86.092% 73.914%,
      85.748% 73.736%,
      85.396% 73.543%,
      85.396% 73.543%,
      52.802% 54.331%,
      52.242% 53.969%,
      51.744% 53.593%,
      51.308% 53.202%,
      50.933% 52.797%,
      50.619% 52.377%,
      50.363% 51.941%,
      50.166% 51.49%,
      50.027% 51.022%,
      49.944% 50.537%,
      49.916% 50.035%,
      49.916% 50.035%,
      49.943% 49.533%,
      50.024% 49.05%,
      50.162% 48.585%,
      50.357% 48.137%,
      50.61% 47.705%,
      50.923% 47.289%,
      51.298% 46.887%,
      51.735% 46.499%,
      52.236% 46.125%,
      52.802% 45.764%,
      52.802% 45.764%,
      85.396% 26.552%,
      85.748% 26.353%,
      86.092% 26.171%,
      86.432% 26.008%,
      86.768% 25.863%,
      87.103% 25.738%,
      87.439% 25.634%,
      87.777% 25.551%,
      88.12% 25.491%,
      88.47% 25.454%,
      88.827% 25.442%,
      88.827% 25.442%,
      89.504% 25.494%,
      90.152% 25.649%,
      90.761% 25.906%,
      91.32% 26.265%,
      91.821% 26.726%,
      92.253% 27.287%,
      92.607% 27.949%,
      92.871% 28.71%,
      93.037% 29.57%,
      93.095% 30.529%,
      93.095% 30.529%,
      93.095% 69.542%,
      93.037% 70.501%,
      92.871% 71.364%,
      92.607% 72.128%,
      92.253% 72.793%,
      91.821% 73.358%,
      91.32% 73.822%,
      90.761% 74.185%,
      90.152% 74.445%,
      89.504% 74.602%,
      88.827% 74.655%,
      88.827% 74.655%
    );
  }
}
